body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: white;
  font-family: sans-serif;
  text-align: center;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, .8);
  transition: opacity 0.4s;
  opacity: 0;
}
a {
  cursor: pointer;
}
p:not(.active) {
  pointer-events: none;
}
p.active {
  opacity: 1;
}
p a:first-child {
  margin-right: 2em;
}
form {
    width: calc(100vw - 2em);
  input {
    display: block;
    font-family: monospace;
    font-size: 2em;
    background: #f0f0f0;
    border: none;
    text-align: center;
    width: 100%;
    &:focus {
      outline: none;
      background: #e6e6e6;
    }
  }
  ul {
    padding: 0;
    overflow: auto;
    height: 45vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    li {
      list-style-position: inside;
      list-style-type: none;
      cursor: pointer;
      font-size: 1.5em;
      padding: 0.5em 0;
      &:nth-child(even) {
        background: #f6f6f6;
      }
      &:hover {
        background: #efefef;
      }
      &:active {
        background: #ddd;
      }
      &.selected {
        font-weight: bold;
      }
    }
  }
}